#dropdown-basic {
  background-color: white;
  color: black;
}

.btn,
.show > .btn-success.dropdown-toggle:focus,
.btn-success.focus,
.btn-success:focus {
  background-color: white;
  outline: none;
  border: none;
  box-shadow: none;
}
.btn {
  width: 10rem;
}
