.btn {
  background-color: transparent;
  outline: none;
  border: none;
}
#dropdown-basic {
  background-color: transparent;
}
.dropdown.show {
  outline: none;
  border: none;
}
.btn-success.focus,
.btn.focus {
  box-shadow: none;
  outline: none;
  border: none;
}
